* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    animation: fadeIn 1.5s ease-in-out;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
    animation: slideInDown 1s ease-out;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 20px; /* Add this to add margin to the left */
}

nav ul li {
    margin: 10px 0; /* Adds margin above and below each list item */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: fadeInUp 1s ease-in-out;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.8em;
    margin-top: 20px;
}

hr {
    border: 0;
    height: 1px;
    background-color: #e0e0e0;
    margin: 20px 0;
}

main {
    padding: 20px;
}

div {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 1em;
    line-height: 1.6;
    margin: 10px 0;
}

footer {
    background-color: #4CAF50;
    padding: 20px 0;
    text-align: center;
    animation: slideInUp 1s ease-out;
}

footer div {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin: 10px 0;
}

a {
    color: #4CAF50;
    text-decoration: none;
    position: relative;
    animation: colorChange 5s infinite;
}

a:hover {
    text-decoration: underline;
}

/* Styling the email link */
.email-link {
    color: #FF5722;
    font-weight: bold;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
}

/* Keyframes for animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideInDown {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}

@keyframes slideInUp {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes colorChange {
    0% { color: #4CAF50; }
    50% { color: #00FFD2; }
    100% { color: #4CAF50; }
}
